@import '~styles/_utils.scss';
@import '~styles/_layouts.scss';

html {
  @include layout-vertical;
  @include children-fill-content;
  width: 100%;
  height: 100%;
  font-size: fontSize(normal);
  background-color: white;
  box-sizing: border-box;

  * {
    box-sizing: inherit;
  }

  body {
    @include layout-vertical;
    font-size: fontSize(normal);
    font-family: $font-family;
    color: $text-color;

    > *:first-child {
      flex: 1;
      @include layout-vertical;
      @include children-fill-content;
    }
  }
}

.main {
  @include layout-vertical;
  @include children-fill-content;
}

@mixin title($size) {
  font-weight: normal;
  font-size: fontSize($size);
  margin-top: spacingForText($size);
  margin-bottom: spacingForText($size);
  text-align: center;
}

h1 {
  @include title(xxlarge);
}

h2 {
  @include title(xlarge);
}

h3 {
  @include title(large);
}
