.slide {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.slide > *:last-child {
  flex: 1;
}

.prevSlide,
.nextSlide {
  width: 5rem;
  position: fixed;
  height: 100%;
  top: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.prevSlide {
  left: 0;
}

.prevSlide:hover {
  background-image: url('./left-arrow.svg');
}

.nextSlide {
  right: 0;
}

.nextSlide:hover {
  background-image: url('./right-arrow.svg');
}
