@import '~styles/_constants.scss';
@import '~styles/_utils.scss';

.code {
  background-color: #f7f7f7;
  padding: spacingForText(large);
  margin: spacingForText(large);
  border-radius: 0.313rem;
  color: #ccc;
}

.title {
  font-size: fontSize(small);
  margin: 0;
  margin-bottom: spacingForText(normal);
  padding-bottom: spacingForText(normal) / 2;
  font-style: italic;
  border-bottom: 1px solid #ccc;
  color: #888;
  text-align: left;
}

.highlight {
  .text {
    color: $text-color;
  }

  .string {
    color: #388e3c;
  }

  .keyword {
    color: #0277bd;
  }

  .type {
    color: #e65100;
  }

  .attribute {
    color: brown;
  }

  .comment {
    color: #aaa;
  }
}
