@import '~styles/_layouts.scss';

.titleSlide {
  @include layout-vertical(center, center);
}

.title {
  font-size: 3rem;
  margin: 2.5rem 0;
  font-weight: normal;
}

.subTitle {
  font-size: 1.5rem;
  margin: 2rem 0;
  font-style: italic;
  font-weight: normal;
}
