$font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$code-font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;

$text-color: #333;

$active: #2196f3;

$font-size: (
  'small': (
    font-size: 0.9rem,
    spacing: 0.9rem
  ),
  'normal': (
    font-size: 1rem,
    spacing: 0.5rem
  ),
  'large': (
    font-size: 1.2rem,
    spacing: 1rem
  ),
  'xlarge': (
    font-size: 2rem,
    spacing: 1rem
  ),
  'xxlarge': (
    font-size: 4rem,
    spacing: 2rem
  )
);
